{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/monubitfront/css/homepage.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="welcome"><p>Welkom op Monubit. Wat wilt u doen?</p></div>
<div id="front_page_images">
<table>
<tr>
<td><img src="{{ asset('bundles/monubitfront/img/Search.png') }}" /></td>
<td><img src="{{ asset('bundles/monubitfront/img/Explore.png') }}" /></a></td>
<td><img src="{{ asset('bundles/monubitfront/img/Recommend.png') }}" /></td>
</div>
</tr>
</table>
{% endblock %}
