{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css") }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/jquery.rating.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/monubitmonument/css/monument.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/monubitratings/css/ratings.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/monubitrecommendation/css/recommendation.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("http://code.jquery.com/ui/1.10.3/jquery-ui.js") }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.rating.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/monubitmonument/js/monument.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/monubitratings/js/ratings.js') }}"></script>
{% endblock %}

{% block body %}
{% spaceless %}

<div class="left" >
	<div class="image" >
		<img src="{{ (monument.id ~ '.jpg') | imagine_filter('monument_full') }}" alt="{{ monument.name }}" >
	</div>
	{% render controller('MonubitRatingsBundle:Ratings:rating', {'id': monument.id}) %}
	{% if map is defined %}
		<div class="maps">
		{{ google_map_container(map) }}
		{{ google_map_js(map) }}
		{{ google_map_css(map) }}
		</div>
	{%  endif %}
</div>

<div class="content" >
	{% set name = monument.name %}
	<h1>{% if name == "" %}
			{{ monument.location.street }} 
			{% if monument.location.streetNumber != 0 %}
			{{ monument.location.streetNumber }} {{ monument.location.streetNumberAppendix }}
			{% endif %}
		{% else %}
			{{ name }}
		{% endif %}
	</h1>
	<div class="address">
	{% set loc = monument.location %}
	<p>{{ loc.street }} 
	{% if monument.location.streetNumber != 0 %}
		{{ loc.streetNumber }}{{ loc.streetNumberAppendix }}
	{% endif %} <br/>
	{{ loc.zipCode }}	{{ loc.town }}</p>
	</div>
	
	
	<div class="description" >
		<p>{{ monument.description|raw }}</p>
	</div>
	
	{% include 'MonubitTagBundle:Tag:tagcomponent.html.twig' with {'monument': monument} %}
</div>

<div class="recommended">
	<h2>Aanbevolen</h2>
	{# {% render controller('MonubitRecommendationBundle:Recommendation:recommendation', {'id': monument.id}) %} #}
	{% render controller('MonubitSearchBundle:Search:searchresults', {'query': (monument.description) ~ ' ' ~ (monument.subCategory) ~ ' ' ~ (monument.location.town), 'page': 0, 'resultsPerPage': 6}) %}
</div>
{% endspaceless %}
{% endblock %}
