{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/monubitsearch/css/search.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1>Search results</h1>

{# Search results #}
<div id="searchresults">
{% if results is empty %}
No results found for '{{ query }}'
{% endif %}
<ul>
{% for monument in results %}
	<li><a href="{{ path('monument', {'id': monument.id}) }}"><div class="image"><img src="{{ (monument.id ~ '.jpg') | imagine_filter('search_thumbnail') }}" /></div><div class="result">
	{% if monument.name != "" %} {{ monument.name }} 
	{% else %}{{ monument.location.street }} 
		{% if monument.location.streetNumber != 0 %}
			{{ monument.location.streetNumber }} {{ monument.location.streetNumberAppendix }}
		{% endif %}
	{% endif %}
	({{ monument.location.town }})</div></a></li>
{% endfor %}
</ul>
</div>

{# Pagination bar #}
<div id="pagination">
{% spaceless %}
{% if startpage != endpage %}
	<a {% if page == 1 %}class="inactive"{% else %}href="{{ path('search', {'query': query, 'type': type, 'offset': page-1}) }}"{% endif %}>«</a>
	{% for i in startpage..endpage %}
		<a {% if page == i %}class="current inactive"{% else %}href="{{ path('search', {'query': query, 'type': type, 'offset': i}) }}"{% endif %}>{{ i }}</a>
	{% endfor %}
	<a {% if page >= pages %}class="inactive"{% else %}href="{{ path('search', {'query': query, 'type': type, 'offset': page+1}) }}"{% endif %}>»</a>
{% endif %}
{% endspaceless %}
</div>
{% endblock %}
