<ul>
{% for monument in results.monuments %}
	<li><a href="{{ path('monument', {'id': monument.id}) }}"><div class="image"><img src="{{ (monument.id ~ '.jpg') | imagine_filter('search_thumbnail') }}" /></div><div class="result">
	<div class="monumentname">
	{% if monument.name != "" %} {{ monument.name }} 
	{% else %}{{ monument.location.street }} 
		{% if monument.location.streetNumber != 0 %}
			{{ monument.location.streetNumber }}
			{% if  monument.location.streetNumberAppendix != 'ongd'%} 
				{{ monument.location.streetNumberAppendix }}
			{% endif %}
		{% endif %}
	{% endif %}
	</div>
	<div class="monumentaddress">
	{{ monument.location.town }}
	</div>
	</div>
	</a></li>
{% endfor %}
</ul>