{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/monubitsearch/css/search.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1>Search results</h1>

{# Search results #}
<div id="searchresults">
{% if results.monuments is empty %}
No results found for '{{ results.query.query }}'
{% endif %}
<ul>
{% for monument in results.monuments %}
	<li><a href="{{ path('monument', {'id': monument.id}) }}"><div class="image"><img src="{{ (monument.id ~ '.jpg') | imagine_filter('search_thumbnail') }}" /></div><div class="result">
	{% if monument.name != "" %} {{ monument.name }} 
	{% else %}{{ monument.location.street }} 
		{% if monument.location.streetNumber != 0 %}
			{{ monument.location.streetNumber }} {{ monument.location.streetNumberAppendix }}
		{% endif %}
	{% endif %}
	({{ monument.location.town }})</div></a></li>
{% endfor %}
</ul>
</div>

{# Pagination bar #}
<div id="pagination">
{% spaceless %}
{% if pagination.getStartPage() != pagination.getEndPage() %}
	<a
	{% if pagination.getCurrentPage() == 1 %}
		class="inactive"
	{% else %}
		href="{{ path('search', {'query': results.query.query, 'page': pagination.getCurrentPage()-1}) }}"
	{% endif %}>«</a>
	
	{% for i in pagination.getStartPage()..pagination.getEndPage() %}
		<a 
		{% if pagination.getCurrentPage() == i %}
			class="current inactive"
		{% else %}
			href="{{ path('search', {'query': results.query.query, 'page': i}) }}"
		{% endif %}
		>{{ i }}</a>
	{% endfor %}
	
	<a 
	{% if pagination.getCurrentPage() >= pagination.getNumberOfPages() %}
		class="inactive"
	{% else %}
		href="{{ path('search', {'query': results.query.query, 'page': pagination.getCurrentPage()+1}) }}"
	{% endif %}>»</a>
{% endif %}
{% endspaceless %}
</div>
{% endblock %}
