{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/monubitsearch/css/search.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1>Search results</h1>

{# Search results #}
<div id="searchresults">
{% if results.monuments is empty %}
<div class="notification">
No results found for '{{ results.query.query }}'
</div>
{% endif %}
{% include 'MonubitSearchBundle:Search:searchresults.html.twig' with {'results': results} %}
</div>

{# Pagination bar #}
<div id="pagination">
{% spaceless %}
{% if pagination.getStartPage() != pagination.getEndPage() %}
	<a
	{% if pagination.getCurrentPage() == 1 %}
		class="inactive"
	{% else %}
		href="{{ path('search', {'query': results.query.query, 'page': pagination.getCurrentPage()-1}) }}"
	{% endif %}>«</a>
	
	{% for i in pagination.getStartPage()..pagination.getEndPage() %}
		<a 
		{% if pagination.getCurrentPage() == i %}
			class="current inactive"
		{% else %}
			href="{{ path('search', {'query': results.query.query, 'page': i}) }}"
		{% endif %}
		>{{ i }}</a>
	{% endfor %}
	
	<a 
	{% if pagination.getCurrentPage() >= pagination.getNumberOfPages() %}
		class="inactive"
	{% else %}
		href="{{ path('search', {'query': results.query.query, 'page': pagination.getCurrentPage()+1}) }}"
	{% endif %}>»</a>
{% endif %}
{% endspaceless %}
</div>
{% endblock %}
