<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Monubit{% endblock %}</title>
        {% block stylesheets %}
		<link href="{{ asset('css/base.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-2.0.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div id="container">{% spaceless %}
    		<div id="header">
    			<div id="logo">
    				<a href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" /></a>
    			</div>
    			<div id="searchbar">
    				<form action="{{ path('search') }}" id="searchform"><input type="text" name="query" id="searchinput" /><input id="searchsubmit" type="submit" />
    				<select name="type">   
   					<option value="town">Stad</option>   
   					<option value="name">Naam</option>  
   					<option value="mainCategory">Categorie</option>
   					<option value="street">Straat</option>   
   					<option value="municipality">Gemeente</option>  
   					<option value="province">Provincie</option>
   					<option value="tagname">Tag</option>
				</select></form>
    			</div>
    			<div id="userbar">
    			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    				<a href="{{ path('fos_user_profile_show') }}">
    					{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    				</a>
	                <a href="{{ path('fos_user_security_logout') }}">
	                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	                </a>
	            {% else %}
	                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
	            {% endif %}
    			</div>
    		</div>
    		{% endspaceless %}<div id="main">
    		{% block body %}{% endblock %}
    		</div>
    	</div>
    </body>
</html>