	<ul>
	{% for monument in recommended %}
		<li><a href="{{ path('monument', {'id': monument.id}) }}"><div class="image"><img src="{{ (monument.id ~ '.jpg') | imagine_filter('search_thumbnail') }}" /></div><div class="result">
		{% if monument.name != "" %} {{ monument.name }} 
		{% else %}{{ monument.location.street }} 
			{% if monument.location.streetNumber != 0 %}
				{{ monument.location.streetNumber }} {{ monument.location.streetNumberAppendix }}
			{% endif %}
		{% endif %}</div></a></li>
	{% endfor %}
	</ul>
	