<div class="fos_user_user_show">
	<h1>{{ user.username }}</h1>
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    <h2>Mijn ratings</h2>
    <ul>
	{% for rating in user.ratings | slice(0,5) %}
		{% set monument = rating.monument %}
		<li><a href="{{ path('monument', {'id': monument.id}) }}"><div class="image"><img src="{{ (monument.id ~ '.jpg') | imagine_filter('search_thumbnail') }}" /></div><div class="result">
				<div class="monumentname">
				{% if monument.name != "" %} {{ monument.name }} 
				{% else %}{{ monument.location.street }} 
					{% if monument.location.streetNumber != 0 %}
						{{ monument.location.streetNumber }} {{ monument.location.streetNumberAppendix }}
					{% endif %}
				{% endif %}
				</div>
				<div class="monumentaddress">
				{{ monument.location.town }}
				</div>
			</div>
		</a></li>
	{% endfor %}
	</ul>
</div>
